.header {
	background: url("Carousel.jpg") no-repeat center center;
	background-size: cover;
	display: block;
	margin: auto;
	width: 500px;
	height: 100px;
	color: #9aafbc;
	padding-top: 5px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

p {
    font-family: Merriweather, serif;
}

ul {
	background: #cca0d3;
	width: 300px;
	font-family: Georgia, sans-serif;
}
